name: Test

on:
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          python -m pip install "tox >= 3.26.0"
      - name: Run flake8 via tox
        run: python -m tox -e flake
      - name: Run black via tox
        run: python -m tox -e black -- --check
      - name: Run mypy via tox
        run: python -m tox -e type

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        py: ['3.10', '3.11', '3.12', '3.13']
        os: ['ubuntu-latest', 'windows-latest']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          python -m pip install "tox-gh-actions >= 2.10.0"
          python -m pip install "tox >= 3.26.0"
      - name: Run tests via tox
        run: python -m tox
      - name: Upload to CodeCov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
